# Node / Yarn
**/node_modules/
**/.yarn/cache/
**/.yarn/install-state.gz
**/.yarn/unplugged/
**/.pnp.*
**/yarn-error.log

# Next.js
**/.next/
**/out/

# Foundry build artifacts
**/cache/
**/broadcast/
**/deployments/
**/out/

# Env
**/.env
**/.env.local
**/.env.*.local

# Vercel local link
**/.vercel/

# OS / editor
**/.DS_Store
**/*.log
